.is-full-height {
  height: 100vh !important;
}

.is-full-width {
  width: 100% !important;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: 100dvh;
}

main {
  flex: 1 0 auto;
}

.has-icon-content {
  display: flex !important;
  align-items: center !important;
  gap: .3rem;
}

.mt-7 {
  margin-top: 6rem !important;
}

.mt-8 {
  margin-top: 12rem !important;
}

.has-icon-mask-32,
.has-icon-mask-64 {
  background-color: var(--bulma-background);
  border-radius: 50%;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.has-icon-mask-32 {
  width: 32px;
  height: 32px;
}

.has-icon-mask-64 {
  width: 64px;
  height: 64px;
}

.opac-5 {
  opacity: .5 !important;
}